.auth{
    padding: 150px 0 !important;
    width: 100%;
}
.auth h1{
    text-align: center;
}
.auth form{
    width: 40%;
    margin: auto;
}

@media screen and (max-width: 758px) {
    .auth form{
        width: 90%;
        margin: auto;
    }
}