.orders{
    width: 90%;
    margin: auto;
    padding: 100px 0;
}
.orders h1{
    text-align: center;
}
.ordersList{
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
}
.orderItem{

}
.oi_infos{
background-color: var(--c1d1);
padding: 10px 0;
text-align: center;
}
.oi_status{
margin-top: 25px;
}
.oi_status i{
    color: var(--cwd4) ;
    font-size: 6Vh;
}
.currentStatus{
    color: var(--color2) !important;
}
.oi_status b{
    color: var(--color1);
    margin: 10px 0;
}
.oi_infos,.oi_status{
    display: flex;
    justify-content: space-evenly;
}
.oi_infos p,.oi_status p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-break: break-all;
    /* position: relative; */
}


@media screen and (max-width: 512px) {
    .ordersList{
        width: 100%;
    }
    .oi_infos{
        gap: 15px;
        /* font-size: 12px; */
        flex-wrap: wrap;
    }
    .oi_infos p{
        width: 45%;
    }
}