.pdt_addToCart{

}
.updateItemQuantityBtns {
    display: flex;
    align-items: center;
}
.updateItemQuantityBtns span{
    background-color: var(--color1);
    width: 4vh;
    height: 4vh;
    line-height: 3vh;
    font-size: 3vh;
    cursor: pointer;
    border-radius: 100%;
    color: white;
    text-align: center;

}
.updateItemQuantityBtns b{
margin: 0 10px;
color: var(--color1);
}
